# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# pytest cache
.pytest_cache/

# virtual environments
venv/
.venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
