# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# pytest cache
.pytest_cache/

# virtual environments
venv/
.venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Project artifacts
checkpoints/
mlruns/
models/

# IDE and tooling
.idea/
.aim/
package-lock.json
uv.lock
